
html, body {
  color:  #ffffff;
  background: black;
}


body {
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-weight: 400;
margin: 0 auto 50px;
}

h1 {
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-size: 70px;
color: #ffffff;
font-weight: bold;
}

h2, h3, p, .navbar-nav {
font-family: 'Noto Serif', sans-serif;
} 

h2 {
font-size: 42px;
font-weight: 500;
color: #ffffff;
}

h3 {
font-size: 25px;
font-weight: 500;
color: #ffffff;
}

h4 {
font-size: 20px;
color: #ffffff;

}

h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}


p {
color: #abd7e1;
font-size: 20px;
}



/*-------------------Margins----------------*/
.margin-0 {
margin-bottom: 0 !important;
}
.margin-10 {
  margin-bottom: 10px !important;
  margin-left: 25px !important;
  margin-top: 30px !important;
}

.margin-10_bot {
  margin-bottom: 10px !important;
  margin-top: 25px !important;
  margin-left: 25px !important;
}

.margin-15 {
margin-bottom: 15px !important;
}

.margin-20 {
margin-bottom: 20px !important;
}

.margin-30 {
margin-bottom: 30px !important;
}

.margin-minus_40 {
  margin-top: -45px !important;
  margin-bottom: 10%;
}

.margin-40 {
margin-bottom: 40px !important;
}

.margin-50 {
margin-bottom: 50px !important;
}

.margin-50_center {
  height: 10em;
  margin-bottom: 50px !important;
  margin-left: 25% !important;
}

.margin-50_bot {
  margin-bottom: 50px !important;
  margin-top: 30px !important;
  margin-left: 25px !important;
}

.margin-60 {
margin-bottom: 60px !important;
}
.margin-70 {
margin-bottom: 70px !important;
}

.margin-80 {
margin-bottom: 80px !important;
}
.margin-90 {
margin-bottom: 90px !important;
}


.margin-125 {
margin-bottom: 125px !important;
}

.margin-100{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
  

.margin-100_right {
  margin-top: 70px !important;
  margin-bottom: 100px !important;
}


.round10 {
  border-radius: 10px;
}

.round10bot {
  border-radius: 0px 0px 10px 10px;
}

.round15 {
  border-radius: 15px;
}

/*-------------------Colors----------------*/
.dark-gray {
  color: #545454;
  }
  
  .light-gray {
  color: #f4f4f4;
  }
  
  .white {
  color: #ffffff;
  }
  
  .green {
  color: #13c4af;
  }
  
  .blue {
  color: #4eacdd;
  }
  


/*-------------------Buttons----------------*/
.btn {
-moz-user-select: none;
background-image: none;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 10px;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: 400;
line-height: 1.42857;
margin-bottom: 0;
padding: 6px 12px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
}

.btn-lg {
border-radius: 10px;
font-size: 18px;
line-height: 1.33;
padding: 14px 22px;
}

.btn-primary {
background-color: transparent;
border-color: #FFFFFF;
color: rgb(203, 111, 111);
font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
background-color: #311818;
border-color: #FFFFFF;
color: #545454;
font-weight: bold;

-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
}

.btn-secondary {
background-color: transparent;
border-color: #272e31;
font-weight: bold;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
background-color: #272e31;
border-color: #272e31;
color: #ffffff;
font-weight: bold;

-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
}



/* ==========================================================================
 Navigation styles
 ========================================================================== */
 .navbar-inverse {
  background-color: #4eabde;
  border-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
  padding: 0px;
}

.navbar {
margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(0, 0, 0, 0);
  border: 0px;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.0) inset;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c19419;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}



/* ==========================================================================
  Other elements
 ========================================================================== */


 .container1-img-btn {
  width: 30%;
  height: 110px;
  margin: 5px;
  justify-content: space-around;
  border-radius: 50%;
}

.container1-img-btn > .container1-img {
  width: 115%;
  height: 106%;
  margin: 5px;
  margin-left: -10px;
  margin-top: -3px;
  justify-content: space-around;
  border-radius: 50%;
}   

.camera-btn {
  width: 45%;
  height: 68px;
  border-radius: 10px;
  margin-top: 10px !important;
  background-color: #e7b21f;
  color: #151316;
  font-size: 25px;
}

.reader-btn {
  width: 100%;
  height: 68px;
  border-radius: 10px;
  margin-top: 10px !important;
  margin-bottom: auto;
  margin-left: 25px;
  margin-right: auto;
  background-color: #e7b21f;
  color: #151316;
  font-size: 25px;
}


.reader-btn:hover, .reader-btn:focus, .reader-btn:active, .reader-btn.active, .open {
  background-color: #6c757d;
   border-color: #6c757d;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#pred-error{
  margin-top: 20px !important;
  margin-left: 25px !important;
}


#preference-btn-group {
  margin-bottom: 70px !important;
  /* margin-left: 5% !important; */
}


.emoji {
  color: #f7c00f;
}


.carousel-items:hover {
  background-color: rgb(175, 88, 7);
}

.carousel-items {
  cursor: pointer;
}

#highest-predictions {
  color: #ffffff;
  font-size: 45px;
  font-family: 'Noto Serif', serif;
  text-align: center;
}

.predictions {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Noto Serif', serif;
}

.my-2 {
 border-top: 1px solid white;
}

.my-3 {
  border: 2px solid white;
}

#modal-header {
  color: black;
}

#repeat-btn {
  width: 40%;
  height: 60px;
  border-radius: 10px;
  margin-top: 18px !important;
  background-color: #e7b21f;
  color: #1b1a1a;
  font-size: 23px; 
}

#tracks {
  flex: 6;
  background-color: #1b1a1a;
  overflow-y: scroll;
}

.track-element {
  background-color: #1b1a1a;
  justify-content: space-between;
  border: 2px solid #ae871c;
  padding: 20px;
  overflow: hidden; 
}

.track-element img {
  margin-right: 15px;
  float: left;
}

.track-element > div {
  display: inherit;
}

.track-element:hover {
  background-color: #ae871c;
}

#track-container {
    display: flex;
    background-color: #1b1a1a;
    flex-direction: row;
    cursor: pointer;
    height: 90vh;
    width: 100vh;
}

.jumbo {
  background-color: #1b1a1a;
  overflow: hidden;
}

.jumbo-txt {
color: #ffffff;
}


#genre-btn {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #e7b21f;
  color: #1b1a1a;
  font-size: 23px; 
}


#modalGenres {
  text-align: center;
}

#modal-gen {
  color: black;
  margin: 5px;  
  display: flex;
  flex-wrap: wrap;
}

.modal-gen-btn {
  margin: 5px;
  border-radius: 10px;
  background-color: #e7b21f;
  color: #1b1a1a;
  font-size: 23px; 
}


/* ==========================================================================
 Main styles
 ========================================================================== */

#container1 {
background: linear-gradient(0deg, #1b1a1a 0%, #676765a7 100%); 
overflow: hidden;
}

.webcam-bg {
  margin-left: 30px !important;
  box-shadow: 4px 6px 10px 3px rgba(255, 255, 255, 0.2), 0 6px 15px 0 rgba(144, 47, 47, 0.19);
}

.container1-text {
padding-top: 175px;
} 


#container2 {
  background: #1b1a1a;
  overflow: hidden;
  /* height: auto; */
}

.container2-img {
  margin-left: 8%;
  width: 100%;
  margin-top: 12%;
  margin-bottom: 5%;
  box-shadow: 4px 6px 10px 6px rgba(255, 255, 255, 0.2), 0 6px 15px 0 rgba(144, 47, 47, 0.19);
}

#selectPreference {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #1b1a1a;
  overflow: hidden;
}

.preference-btn {
  width: 23%;
  height: 100%;
  border-radius: 10px;
  margin: 20px;
  margin-right: 30px;
  margin-top: 18px !important;
  background-color: #ffffff;
  color: #1b1a1a;
  font-size: 30px;
  font-weight: bold;
}


#container3 {
background: #1b1a1a;
padding-top: 0px;
overflow: hidden;
}

.container3-img {
left: 0;
margin-left: -300px;
margin-top: 160px;
position: absolute;
}

#container3-btn-group {
  margin-left: 3%;
  margin-top: -50px !important;
}

.container3-btn {
  width: 45%;
  height: 60px;
  border-radius: 10px;
  background-color: #e7b21f;
  color: #2f2a31;
  margin: 10px;
  font-size: 23px; 
}

#player {
    background-color: #2d2f2f;
}

#currTrack {
  margin: 0px auto;
}

#currTrack > img {
  float: left;
  margin-right: 30px;
}

#player-sticky{
  margin-top: -15px !important;
  margin-left: -35px !important;
  margin: 10px;
}


.player-btn {
  padding: 18px;
  border: 1px solid white;
  border-radius: 100%; 
  margin: 5px;
}


#top-btn {
  float: right;
  padding: 15px;
}

