
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


div, button {
  margin: 10px;
}

.container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

.cameraOutput {
    width: 500px;
    height: 375px;
    background-color: #666;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  margin: 0 auto 50px;
  width: 750px;
}
textarea {
  font-family: monospace;
  font-size: inherit;
  height: 150px;
  width: 100%;
}
pre {
  white-space: pre-wrap;
}
.controls {
  margin: 10px 0;
}

.webcams > video:nth-of-type(1) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.webcams > video:nth-of-type(2) {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.webcams > video:nth-of-type(3) {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}
.webcams > video:nth-of-type(4) {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
.webcams > video:nth-of-type(6) {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.webcams > video:nth-of-type(7) {
  -webkit-filter: brightness(3);
  filter: brightness(3);
}
.webcams > video:nth-of-type(8) {
  -webkit-filter: contrast(4);
  filter: contrast(4);
}
.webcams > video:nth-of-type(9) {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
